*{
  margin: 0px;
  padding: 0px;
}

header{
  text-align: center;
  margin: 3%;
}

.allMsgContainer{
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  gap: 20px;
  margin-bottom: 20px;
  overflow-y: auto;

}

.msgContainer{
  background-color: rgb(240, 240, 240);
  width: 60%;
  padding: 20px;
  border-radius: 5px;
}

.titleDateContainer{
  display: flex;
  gap: 10px;
  align-items: center;
}

.titleDateContainer h3{
  padding-bottom: 5px;
}

.messageForm{
  display: flex;
  gap: 5px;
  justify-content: center;
  width: 60%;
  background-color: wheat;
  margin: 0 auto;
  /* margin-bottom: 3%; */
}

textarea{
  width: 100%;
  resize: none;
  font-size: 20px;
  padding: 10px;
}